:root {
    --color-gray-light: #E5E5E5;
    --color-light: #F4F4FD;
    --color-blue: #4D5AE5;
    --color-blue-light: #404BBF;
    --color-dark: #2E2F42;
    --color-gray: #434455;
    --color-white: #FFFFFF;
    --color-white-dark: #E7E9FC;
    --font-size-16: 16px;
    --font-size-18: 18px;
}
h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}
body {
font-family: 'Roboto', sans-serif;
font-size: var(--font-size-16);
line-height: 1.5;
color: var(--color-gray-light);
}
ul {
    list-style: none;
}

.container {
    width: 1158px;
    padding: 0px 15px;
    margin: 0 auto;
}

.header {
    padding: 24px 0px;
}

.header-container {
    display: flex;
}

.header-menu {
    display: flex;
    flex-grow: 1;
    gap: 40px;
}
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: var(--font-size-18);
line-height: 1.33;
letter-spacing: 0.03em;
color: var(--color-blue);
text-transform: uppercase;
text-decoration: none;
}
.logo:focus {
color: var(--color-blue);
}
.logo-studio {
color: var(--color-dark);
font-weight: 800;
}
.logo-footer {
font-size: var(--font-size-18);
line-height: 1.33;
color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
}
.link {
color: var(--color-dark);
text-decoration: none;
}
.link:focus {
color: var(--color-blue);
}
.link-nav {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-decoration: none;
color: var(--color-dark);
padding: 24px 0px;
display: block;
}
.link-nav:focus {
color: var(--color-blue);
}
.link-nav:hover {
color: var(--color-blue-light)
}
.link-address {
font-weight: 400;
color: var(--color-gray);
padding: 24px 0px;
}
.navigation {
font-size: var(--font-size-16);
line-height: 1.5;
color: var(--color-dark);
display: flex;
align-items: center;
}
.list-navigation {
display: flex;
}
.address {
font-size: var(--font-size-16);
line-height: 1.5;
color: var(--color-gray);
text-decoration: none;
font-style: normal;
text-align: left;
}
.contacts-list {
display: flex;
}
.hero {
background-color: var(--color-dark);
text-align: center;
}
.button-order-service {
background-color: var(--color-blue);
color: var(--color-white);
font-size: var(--font-size-16);
font-weight: 400;
line-height: 1.5;
cursor: pointer;
text-align: center;
}
.button-order-service:hover {
background-color: var(--color-blue-light);
}
.button-order-service:focus {
background-color: var(--color-blue);
}
.button-portfolio-navi {
font-family: 'Roboto', sans-serif;
color: var(--color-blue);
font-size: var(--font-size-16);
line-height: 1.5;
cursor: pointer;
margin: 0 auto;
}
.button-portfolio-navi:hover {
background-color: var(--color-blue-light);
color: var(--color-light);
}
.button-portfolio-navi:focus {
background-color: var(--color-blue);
}
.main-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
color: var(--color-white);
}
.section-one {
text-align: left;
}
.section-name {
font-size: 20px;
line-height: 1.2;
color: var(--color-dark);
letter-spacing: 0.02em;
}
.section-text {
font-size: var(--font-size-16);
line-height: 1.5;
color: var(--color-dark);
letter-spacing: 0.02em;
}
.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.2;
color: var(--color-dark);
}
.footer {
background-color: var(--color-dark);
text-align: left;
}
.footer-text {
font-weight: 400;
font-size: var(--font-size-16);
line-height: 1.5;
color: var(--color-white-dark);
}
